* {
  margin: 0;
  padding: 0;
  // font-family: "League Spartan";
}

.app {
  height: 100vh;
}

.btn {
  background: #041d77;
  width: 50%;
  margin: 50px auto;
  height: 60px;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
}
