.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.flexc {
  display: flex;
  flex-direction: column;
}

.tac {
  text-align: center;
}

.jce {
  justify-content: space-evenly;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

// margins
.mauto {
  margin: auto;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}
